.section4 {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .imgBox {
            width: 40%;
            img {
                    width: 100%;
            }
        }
        .text {
            width: 60%;
            height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 20%;
            padding-left: 2%;  

            h1 {
                width: 50%;

            }

            p {
                width: 60%;
            }

            .btn {
                width: 30%;
                height: 40px;
                border: 0;
                cursor: pointer;
                &:hover {
                    background-image: linear-gradient(to right,  #8290FF , #CC96FF);
                    color: white;
                }
            }


              }
    }

}