.wrapper4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .head {
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .carts {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .cart {
      width: 20%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      gap: 5px;
    .btn {
      width: 100%;
      display: flex;
      justify-self: center;
      align-items: center;
         button {
            width: 80%;
            height: 35px;
            color: white;
            background-color: rgb(6, 157, 216);
            border: none;
            font-size: 12px;
            cursor: pointer;
          }
    }

    }
  }
}
