.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    nav {
        width: 90%;
        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 1rem;
            

        }

        .text {
            width:40%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

         
          .linked {
            .link {
                width: 100%;
                font-size: 25px;

                display: flex;
                align-items: center;
                justify-content: center;

                text-decoration: none;

                color: black;

                cursor: pointer;

                transition: ease-in-out 0.3s;

                &:hover {
                    color: skyblue;
                }
            }

            .blue {
                color: skyblue;
            }
          }
          

        .collect {
            .colored {
                color: skyblue;
                position: relative;
                width: 100%;
                text-decoration: none;
                font-size: 25px;

              

                .subMenu {
                    display: none;
                }

                &:hover {
                   
                 .subMenu-wrapper {
                    width: 150px;
                    height: 120px;
                    border-top: 2px solid skyblue;
                 display: flex;
                 align-items: center;

                 position: absolute;
                 top: 42px;
                 left: 0;

                 

                    animation: slideEffect 0.3s forwards ease;
                    .subMenu{
                        display: flex;
                        flex-direction: column;

                        list-style: none;

                        width: 200px;
                        height: 100px;

                    

                        @keyframes slideEffect {
                            0% {
                              transform: translateY(10px);
                            }
                            100% {
                              transform: translateY(-10px);
                            }
                          }
                          li {
                            color: black;
                            transition: ease-in-out 0.4s;
                            &:hover {
                                color: skyblue;
                            }
                          }


                    }

                 }
                }
            }
        }
        }
        

        .icons-list {

            width: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icons {
                cursor: pointer;
                font-size: 18px;

            }

            .bag {
                position: relative;

                span {
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    font-size: 12px;
                    top: -12px;
                    left: 12px;
                    border-radius: 50%;
                    background-color: rgb(95, 163, 190);
                }

                
            }

            .burger {
                display: none;
            }


            .opened {
                display: none;

            }

            .closed {
                display: none;
            }

            .slide-links {
                display: none;
            }

           
        }
      
    }
   
}



@media screen and (min-width:300px) and (max-width:576px) {
    .wrapper {
    nav {
        h1 {
            width: 50%;
            font-size: 16px;
        }
        .display {
            display: none;
    
            .collect {
                display: none;
    
                
            }
    
            .linked {
                display: none   ;
            }
           }

           .icons-list {
            width: 30%;
            padding-right: 20px;

            .icons {
                font-size: 20px;
            }

            .bag {

                span {
                    top: -2.5px;
                    left: 3px;
                }
            }

            .burger {
                font-size: 30px;
                z-index: 0;
                width: 30px;
                height: 30px;

               
            }

            .visible1 {
                display: flex;
                color: black;
                position: absolute;
                right: 0;
                top: 30px;
            }

         

               .visible {
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                color: black;
                position: absolute;
                right: 0;
                top: 30px;
                
                z-index: 999;

               
                &.slide-links { transform: translateX(0); }
                &.burger { display: block; }

                .link {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: skyblue;
                    }
                }

              }
              .hidden {
                display: none;
                overflow: hidden;


                &.slide-links { transform: translateX(100%); }
                &.burger { display: none; }
              }
           }

         
    }
    }
    
}
